node_modules/
frontend/node_modules/
backend/node_modules/

frontend/dist/
backend/dist/
build/

.env
.env.local
.env.production
.env.development
backend/.env
frontend/.env
frontend/.env.production

databaseenv.env
*.env
.env*
frontend/.env.prodcution

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

.DS_Store
Thumbs.db

pulseapi_db.sql
